<div>

</div>

<div class="container-fluid">
    <h1>Tutor Template</h1>
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <label for="first-name">Student Name:</label>
                {{!-- <input type="text" class="form-control" name="first-name" id="name" placeholder=""> --}}
                <select name="student-name" id="student-name" class="form-control">
                    <option value=""></option>
                    {{#each students}}
                    <option>{{first_name}} {{last_name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-4">
                <label for="time-zone">Timezone:</label>
                <select name="time-zone" id="time-zone" class="form-control">
                    <option value=""></option>
                    <option value="PST">PST</option>
                    <option value="PDT">PDT</option>
                    <option value="MST">MST</option>
                    <option value="MDT">MDT</option>
                    <option value="CST">CST</option>
                    <option value="CDT">CDT</option>
                    <option value="EST">EST</option>
                    <option value="EDT">EDT</option>
                    <option value="AEST">AEST</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label for="date">Date:</label>
                <input type="text" class="form-control" name="date" id="date" placeholder="mm/dd/yyyy">
                <!-- <input type="date" class="form-control" id="date" name="date"> -->
            </div>
            <div class="col-md-4">
                <label for="time">Time:</label>
                <div class="input-group">
                    <input type="number" max="12" min="0" class="form-control" name="hour" id="hour">
                    <div class="input-group-append">
                        <select name="minute" id="minute" class="form-control">
                            <option value=""></option>
                            <option value="00">00</option>
                            <option value="30">30</option>a
                        </select>
                    </div>
                    <div class="input-group-append">
                        <select name="meridiem" id="meridiem" class="form-control">
                            <option value=""></option>
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <a id="submitBtn" type="submit" class="btn btn-secondary mt-2" value="Submit" target="_blank">Submit</a><br>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">Create Email</a>
    </div>
    <textarea type="text" id="email-subject" class="form-control" cols="30" rows="1"></textarea>
    <button class="btn btn-secondary mt-2" onclick="copySubject()">Copy Subject</button>
    <br><br>
    <div name="email-text" id="email-text"></div>
    <button class="btn btn-secondary mt-2" onclick="copyEmail()">Copy Email</button>
</div>